/* HEADER & NAVBAR */

header {
    background-color: #000;
}

header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 30%;

}

header .menu {
    flex-basis: 40%;
    justify-content: space-between;

}

.menu .menu__item {
    border: 2px solid $principal;
    transition: all .3s ease-in-out;

}

.menu .menu__item:hover {
    border-color: $secondary;
}

.menu .menu__item .menu__link {
    font-size: 1.8em;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;

}


.navbar .menu__item .sub-menu {
    display: none;
    position: absolute;
}

.navbar .menu .menu__item:hover .sub-menu {
    display: block;
}

.navbar .menu .menu__item .sub-menu .sub-menu__link {
    padding: 1rem;
    font-size: 1.4em;
    transition: all .3s ease-in-out;
}

.navbar .menu .menu__item .sub-menu .sub-menu__link :hover {
    background-color: $font-secondary;
    color: $principal;
}


/*Media queries*/
@media screen and (max-width: 768px) {
    header {
        padding: 2em 0;
    }

    header .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    header {
        margin: 0;
        max-width: 600px;

        .navbar {
            justify-content: space-around;

            .logo {
                width: 100%;

                img {
                    width: 280px;
                }

            }

            ul {
                font-size: 0.9em;
                padding-left: 0;
            }


        }
    }




}

@media screen and (max-width: 414px) {

    header {
        margin: 0;
        max-width: 414px;

        .navbar {
            justify-content: space-around;

            .logo {
                width: 100%;

                img {
                    width: 280px;
                }

            }

            ul {
                font-size: 0.9em;
                padding-left: 0;
            }


        }
    }
    
}

@media screen and (max-width: 393px){
    header {
        margin: 0;
        max-width: 393px;

        .navbar {
            justify-content: space-around;

            .logo {
                width: 100%;

                img {
                    width: 280px;
                }

            }

            ul {
                font-size: 0.7em;
                padding-left: 0;
            }


        }
    }

}

@media screen and (max-width:375px){
    header {
        margin: 0;
        max-width: 375px;

        .navbar {
            justify-content: space-around;

            .logo {
                width: 100%;

                img {
                    width: 280px;
                }

            }

            ul {
                font-size: 0.6em;
                padding-left: 0;
            }


        }
    }
    
}

@media screen and (max-width: 360px) {
    header {
        margin: 0;
        max-width: 360px;

        .navbar {
            justify-content: space-around;

            .logo {
                width: 100%;

                img {
                    width: 280px;
                }

            }

            ul {
                font-size: 0.6em;
                padding-left: 0;
            }

        }

    }


}


@media screen and (max-width: 320px) {
    header {
        margin: 0;
        max-width: 320px;

        .navbar {
            justify-content: space-around;

            .logo {
                width: 100%;

                img {
                    width: 280px;
                }

            }

            ul {
                font-size: 0.5em;
                padding-left: 0;
            }

        }

    }

}