.body-About {
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // min-height: 100vh;
}

.parallax {
    background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;


    .parallax-text {
        display: flex;
        width: 100%;
        height: 600px;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 10rem;
        text-align: center;

        h3 {
            display: flex;
            width: 100%;
            height: 600px;
            color: white;
            align-items: center;
            justify-content: center;
        }

    }

}

.stem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    align-items: center;
    gap: 2rem;
    // justify-content: center;
    justify-items: center;
    align-items: center;

}

.pedal {
    flex-basis: 50%;
    width: 100%;
    height: 600px;

}

.photo {
    width: 100%;
    height: 600px;
    display: flex;

}


.manubrio {
    display: flex;
    color: white;
    width: 100%;
    height: 600px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-basis: 50%;
    // gap: 2rem;

    .manubrio__cosas {
        width: 100%;
        height: 300px;
        align-items: center;

        p {
            font-size: 2.5em;
        }

        h1 {
            font-size: 3em;
        }
    }
}

.our__aim {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
    color: white;

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 2rem;

    }
}



/*Media queries*/

@media screen and (max-width: 768px) {

    .main_about {
        width: 768px;
        overflow: hidden;

        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 800px;


            .parallax-text {
                display: flex;
                width: 100%;
                height: 600px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 6em;


                h3 {
                    display: flex;
                    width: 100%;
                    height: 600px;
                    color: white;
                    align-items: center;
                    justify-content: center;

                }

            }

        }

        .stem {
            display: flex;
            width: 768px;
            height: 900px;
            align-items: center;
            gap: 2rem;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;

        }

        .pedal {
            width: 768px;
            height: 600px;
            display: flex;
            align-items: flex-end;

            .photo {
                width: 768px;
                height: 500px;
                display: flex;

            }

        }




        .manubrio {
            display: flex;
            color: white;
            width: 768px;
            height: 500px;
            align-items: center;
            text-align: center;
            display: flex;


            .manubrio__cosas {
                width: 768px;
                height: 500px;
                align-items: center;

                p {
                    font-size: 2.5em;
                }

                h1 {
                    font-size: 3em;
                }
            }
        }

        .our__aim {
            display: flex;
            width: 768px;
            height: 500px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 2rem;

            }
        }



        .footer {
            display: flex;
            height: 550px;
            align-items: center;
            justify-content: center;
            width: 100%;

            .pie {

                height: 200px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {


                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 700px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 28px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }


    }

}

@media screen and (max-width: 600px) {

    .main_about {
        width: 600px;
        overflow: hidden;

        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 600px;


            .parallax-text {
                display: flex;
                width: 100%;
                height: 600px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 6em;


                h3 {
                    display: flex;
                    width: 100%;
                    height: 600px;
                    color: white;
                    align-items: center;
                    justify-content: center;

                }

            }

        }

        .stem {
            display: flex;
            width: 600px;
            height: 900px;
            align-items: center;
            gap: 2rem;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;

        }

        .pedal {
            width: 600px;
            height: 400px;
            display: flex;
            align-items: flex-end;
            order: 1;

            .photo {
                width: 600px;
                height: 500px;
                display: flex;

            }

        }




        .manubrio {
            display: flex;
            color: white;
            width: 600px;
            height: 400px;
            align-items: center;
            text-align: center;
            display: flex;
            order: -1;


            .manubrio__cosas {
                width: 600px;
                height: 300px;
                align-items: center;

                p {
                    font-size: 2em;
                }

                h1 {
                    font-size: 3em;
                }
            }
        }

        .our__aim {
            display: flex;
            width: 600px;
            height: 500px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 2rem;

            }
        }

        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 300px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 550px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 28px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }
}

@media screen and (max-width: 480px) {

    .main_about {
        width: 480px;
        overflow: hidden;

        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 700px;


            .parallax-text {
                display: flex;
                width: 100%;
                height: 600px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 6em;
                text-align: center;

                h3 {
                    display: flex;
                    width: 100%;
                    height: 600px;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }

            }

        }

        .stem {
            display: flex;
            width: 480px;
            height: 900px;
            align-items: center;
            gap: 2rem;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;

        }

        .pedal {
            width: 480px;
            height: 600px;
            display: flex;
            align-items: flex-end;

            .photo {
                width: 480px;
                height: 500px;
                display: flex;

            }

        }




        .manubrio {
            display: flex;
            color: white;
            width: 480px;
            height: 500px;
            align-items: center;
            text-align: center;
            display: flex;


            .manubrio__cosas {
                width: 480px;
                height: 500px;
                align-items: center;

                p {
                    font-size: 2em;
                }

                h1 {
                    font-size: 3em;
                }
            }
        }

        .our__aim {
            display: flex;
            width: 480px;
            height: 500px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 2rem;

            }
        }



        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {

                height: 200px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {


                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 450px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 28px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }



    }

}

@media screen and (max-width: 414px){
    .main_about{
        width: 414px;
        overflow: hidden;

      
        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 600px;


            .parallax-text {
                display: flex;
                width: 100%;
                height: 600px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 3em;
                text-align: center;

                h3 {
                    display: flex;
                    width: 100%;
                    height: 600px;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }

            }

        }

        .stem {
            display: flex;
            width: 414px;
            height: 900px;
            align-items: center;
            gap: 2rem;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;


            .pedal {
                width: 100%;
                height: 300px;
                display: flex;
                align-items: flex-end;
    
                .photo {
                    width: 414px;
                    height: 300px;
                    display: flex;
    
                }
    
            }

        }

       




        .manubrio {
            display: flex;
            color: white;
            width: 100%;
            height: 500px;
            align-items: flex-end;
            text-align: center;
            display: flex;


            .manubrio__cosas {
                width: 414px;
                height: 500px;
                align-items:center;
                flex-direction: column;
                display: flex;


                p {
                    font-size: 2em;
        
                }

                h1 {
                    font-size: 3em;
                    height: 100px;
                    
                }
            }
        }

        .our__aim {
            display: flex;
            width: 414px;
            height: 500px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 4rem;
            }

            p {
                font-size: 2rem;

            }
        }

      
        .footer {
            display: flex;
            height: 400px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 250px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 450px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }


    }
    
}

@media screen and (max-width:375px){
    .main_about{
        width: 375px;
        overflow: hidden;

        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 500px;


            .parallax-text {
                display: flex;
                width: 360px;
                height: 500px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 4em;
                text-align: center;

                h3 {
                    display: flex;
                    width: 100%;
                    height: 200px;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }

            }

        }

        .stem {
            display: flex;
            width: 360px;
            height: 700px;
            align-items: center;
            gap: 2rem;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
            order: 1;

            .pedal {
                width: 360px;
                height: 300px;
                display: flex;
                align-items: flex-end;

                .photo {
                    width: 360px;
                    height: 300px;
                    display: flex;

                }

            }


        }


        .manubrio {
            display: flex;
            color: white;
            width: 360px;
            height: 300px;
            align-items: center;
            text-align: center;
            display: flex;
            order: -1;


            .manubrio__cosas {
                width: 360px;
                height: 200px;
                align-items: center;

                p {
                    font-size: 1.5em;
                }

                h1 {
                    font-size: 2em;
                }
            }
        }

        .our__aim {
            display: flex;
            width: 360px;
            height: 300px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1.5em;

            }
        }
      
        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 150px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 1em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 400px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }


    }
    
}

@media screen and (max-width:360px) {

    .main_about {
        width: 360px;
        overflow: hidden;

        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 500px;


            .parallax-text {
                display: flex;
                width: 360px;
                height: 500px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 4em;
                text-align: center;

                h3 {
                    display: flex;
                    width: 100%;
                    height: 200px;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }

            }

        }

        .stem {
            display: flex;
            width: 360px;
            height: 700px;
            align-items: center;
            gap: 2rem;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
            order: 1;

            .pedal {
                width: 360px;
                height: 300px;
                display: flex;
                align-items: flex-end;

                .photo {
                    width: 360px;
                    height: 300px;
                    display: flex;

                }

            }


        }


        .manubrio {
            display: flex;
            color: white;
            width: 360px;
            height: 300px;
            align-items: center;
            text-align: center;
            display: flex;
            order: -1;


            .manubrio__cosas {
                width: 360px;
                height: 200px;
                align-items: center;

                p {
                    font-size: 1.5em;
                }

                h1 {
                    font-size: 2em;
                }
            }
        }

        .our__aim {
            display: flex;
            width: 360px;
            height: 300px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1.5em;

            }
        }



        .footer {
            display: flex;
            height: 200px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {

                height: 150px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {


                    font-size: 1.5em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 300px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }
    }

}


@media screen and (max-width: 320px) {

    .main_about {
        width: 320px;
        overflow: hidden;



        .parallax {
            background-image: url(https://images.unsplash.com/photo-1610040173942-843927e73f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 500px;


            .parallax-text {
                display: flex;
                width: 100%;
                height: 500px;
                color: white;
                font-size: 3em;
                justify-items: center;
                text-align: center;


                h3 {
                    display: flex;
                    width: 100%;
                    height: 500px;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }

            }

        }

        .stem {
            display: flex;
            flex-direction: row;
            width: 320px;
            height: 600px;
            align-items: center;
            justify-items: center;


            .pedal {
                width: 320px;
                height: 200px;

                .photo {
                    width: 320px;
                    height: 200px;
                    display: flex;

                }
            }



            .manubrio {
                display: flex;
                color: white;
                width: 320px;
                height: 300px;
                align-items: flex-start;
                text-align: center;




                .manubrio__cosas {
                    width: 320px;
                    height: 100px;
                    align-items: center;

                    p {
                        font-size: 1.5em;
                        width: 320px;
                    }

                    h1 {
                        font-size: 1.5em;
                        width: 320px;
                    }
                }
            }

        }








        .our__aim {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 320px;
            text-align: center;
            justify-content: center;
            color: white;

            h1 {
                font-size: 1.5em;
            }

            p {
                font-size: 1.5em;
            }

        }

        .footer {
            display: flex;
            height: 200px;
            align-items: flex-end;
            width: 100%;

            .pie {
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;


                p {
                    font-size: 1em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;
                }

                .buttons_redes {
                    min-width: 320px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    height: 100px;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 14px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }


        }

    }

}