/* Main section*/
.body_index {
    background-color: rgb(0, 0, 0);
    // display: grid;
    // grid-template-rows: auto 1fr auto;
   
   
}

/* ESTILOS DEL PARALLAX*/
.banner-1 {

    background-image: url(https://images.unsplash.com/photo-1534787238916-9ba6764efd4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;


    .banner__text {
        display: flex;
        width: 100%;
        height: 600px;
        color: white;
        align-items: center;



        h3 {
            display: flex;
            width: 100%;
            height: 600px;
            font-size: 10rem;
            color: white;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }

    }


}


.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subtitle {
    h1 {
        text-align: center;
        font-size: 5em;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
}

.presentation {
    gap: 2rem;
    align-items: center;
    padding: 0 2em;

}

/*Estilos de las imagenes y articulos*/


.ruedas_1 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 500px;
    width: 100%;
    justify-items: center;
    align-items: center;

    .presentation__picture {
        width: 60%;

        .presentation__img {
            width: 100%;
            height: 400px;
        }

    }

    .presentation__description {
        color: white;
        width: 40%;
        height: 500px;
        align-items: center;
        text-align: center;
        display: flex;

        .presentation__container p {
            font-size: 2.1em;
            font-family: 'Cormorant Infant', serif;

        }

        .presentation__container h1 {
            font-size: 3em;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            
        }
    }
}


.ruedas_2 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 500px;
    width: 100%;
    justify-items: center;
    align-items: center;

    .presentation__picture {
        width: 60%;

        .presentation__img {
            width: 100%;
            height: 400px;
        }

    }

    .presentation__description {
        color: white;
        width: 40%;
        height: 500px;
        align-items: center;
        text-align: center;
        display: flex;

        .presentation__container p {
            font-size: 2.1em;
            font-family: 'Cormorant Infant', serif;
        }

        .presentation__container h1 {
            font-size: 3em;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


.ruedas_3 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 500px;
    width: 100%;
    justify-items: center;
    align-items: center;

    .presentation__picture {
        width: 60%;

        .presentation__img {

            height: 400px;
        }

    }

    .presentation__description {
        color: white;
        width: 40%;
        height: 500px;
        align-items: center;
        text-align: center;
        display: flex;

        .presentation__container p {
            font-size: 2.1em;
            font-family: 'Cormorant Infant', serif;
        }

        .presentation__container h1 {
            font-size: 3em;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


.section__Testimonials {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    height: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;

}

.testimonials {
    background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


    h3 {
        display: flex;
        width: 100%;
        height: 200px;
        font-size: 4rem;
        justify-content: center;
        align-items: center;
        font-family: 'Allura', cursive;
    }

    p {
        display: flex;
        font-size: 2rem;
        width: 100%;
        height: 60px;
        justify-content: center;
        font-family: 'Cormorant Infant', serif;
    }
}

.witnees {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    align-items: center;


    h1 {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100%;
        color: white;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .attestation {
        display: flex;
        width: 100%;
        height: 400px;
        align-items: center;

        p {

            height: 80px;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 2em;
            justify-content: center;
            font-family: 'Cormorant Infant', serif;
        }
    }


}

/*MEDIA QUERIES*/


@media screen and (max-width: 768px) {

    .main_index {
        width: 768px;
        overflow: hidden;

        .banner-1 {
            width: 100%;
            height: 800px;

            .banner__text {
                display: flex;
                height: 800px;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 6em;
                    height: 200px;
                    align-items: center;
                }
            }
        }

        .ruedas_1 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }


        .ruedas_2 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;
                order: -1;
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 800px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 500px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;




            h3 {
                display: flex;
                width: 100%;
                height: 200px;
                font-size: 4rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 2rem;
                width: 100%;
                height: 60px;
                justify-content: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 80px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }


        .footer {
            display: flex;
            height: 550px;
            align-items: center;
            width: 100%;

            .pie {

                height: 200px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    align-items: flex-end;
                    display: flex;
                }

                .buttons_redes {
                    min-width: 700px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 28px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }

}

@media screen and (max-width: 600px) {
    .main_index {
        width: 600px;
        overflow: hidden;

        .banner-1 {
            width: 100%;
            height: 600px;

            .banner__text {
                display: flex;
                height: 100%;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 6em;
                    height: 200px;
                    align-items: center;
                }
            }
        }


        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .subtitle {

            h1 {
                text-align: center;
                font-size: 3.5em;
                color: white;

            }
        }

        .presentation {
            gap: 2rem;
            align-items: center;
            padding: 0 2em;

        }


        .ruedas_1 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }


        .ruedas_2 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;
                order: -1;
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;




            h3 {
                display: flex;
                width: 100%;
                height: 200px;
                font-size: 4rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 2rem;
                width: 100%;
                height: 60px;
                justify-content: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 80px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }


        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 300px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 550px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 28px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }


    }

}

@media screen and (max-width: 480px) {
    .main_index {
        width: 480px;
        overflow: hidden;

        .banner-1 {
            width: 100%;
            height: 700px;

            .banner__text {
                display: flex;
                height: 600px;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 6em;
                    height: 200px;
                    align-items: center;
                }
            }
        }

        .ruedas_1 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }


        .ruedas_2 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;
                order: -1;
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;



            h3 {
                display: flex;
                width: 100%;
                height: 200px;
                font-size: 4rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 2rem;
                width: 100%;
                height: 60px;
                justify-content: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 80px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }


        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 200px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 450px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 28px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }
}

@media screen and (max-width: 414px) {

    .main_index {
        width: 414px;
        overflow: hidden;

        .banner-1 {
            width: 100%;
            height: 600px;

            .banner__text {
                display: flex;
                height: 600px;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 3em;
                    height: 200px;
                    align-items: center;
                }
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .subtitle {
            h1 {
                text-align: center;
                font-size: 3em;
                color: white;
            }
        }

        .presentation {
            gap: 2rem;
            align-items: center;
            padding: 0 2em;

        }


        .ruedas_1 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 400px;

                .presentation__description h1 {
                    font-size: 2em;
                    width: 100%;

                }

                .presentation__description p {
                    font-size: 1em;
                }

            }
        }


        .ruedas_2 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;
                order: -1;

                .presentation__img {
                    height: 300px;
                }
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;

                .presentation__img {
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;


            h3 {
                display: flex;
                width: 100%;
                height: 150px;
                font-size: 4rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 2rem;
                width: 100%;
                height: 100px;
                justify-content: center;
                text-align: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 80px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }


        .footer {
            display: flex;
            height: 400px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 250px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 2em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 450px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }

}

@media screen and (max-width: 393px){
    .main_index{
        width: 393px;
        overflow: hidden;
        .banner-1 {
            width: 100%;
            height: 500px;

            .banner__text {
                display: flex;
                height: 500px;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 4em;
                    height: 200px;
                    align-items: center;
                }
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .subtitle {

            h1 {
                text-align: center;
                font-size: 3em;
                color: white;

            }
        }

        .presentation {
            gap: 2rem;
            align-items: center;
            padding: 0 2em;

        }




        .ruedas_1 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }



            }
        }


        .ruedas_2 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;
                order: -1;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 300px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;


            h3 {
                display: flex;
                width: 100%;
                height: 100px;
                font-size: 3rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 1.5rem;
                width: 100%;
                height: 60px;
                justify-content: center;
                text-align: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 100px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }

        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 150px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 1em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 400px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }

}

@media screen and (max-width: 375px){
    .main_index{
        width: 375px;
        overflow: hidden;
        .banner-1 {
            width: 100%;
            height: 500px;

            .banner__text {
                display: flex;
                height: 500px;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 4em;
                    height: 200px;
                    align-items: center;
                }
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .subtitle {

            h1 {
                text-align: center;
                font-size: 3em;
                color: white;

            }
        }

        .presentation {
            gap: 2rem;
            align-items: center;
            padding: 0 2em;

        }




        .ruedas_1 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }



            }
        }


        .ruedas_2 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;
                order: -1;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 300px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;


            h3 {
                display: flex;
                width: 100%;
                height: 100px;
                font-size: 3rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 1.5rem;
                width: 100%;
                height: 60px;
                justify-content: center;
                text-align: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 100px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }

        .footer {
            display: flex;
            height: 300px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 150px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 1em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 400px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }
    
}

@media screen and (max-width: 360px) {


    .main_index {
        width: 360px;
        overflow: hidden;

        .banner-1 {
            width: 100%;
            height: 500px;

            .banner__text {
                display: flex;
                height: 500px;
                text-align: center;
                align-items: center;
                justify-items: center;

                h3 {
                    font-size: 4em;
                    height: 200px;
                    align-items: center;
                }
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .subtitle {

            h1 {
                text-align: center;
                font-size: 3em;
                color: white;

            }
        }

        .presentation {
            gap: 2rem;
            align-items: center;
            padding: 0 2em;

        }




        .ruedas_1 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }



            }
        }


        .ruedas_2 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 300px;
                order: -1;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }
            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;
                order: 1;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }
            }
        }

        .ruedas_3 {
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.1em;

            .presentation__picture {
                width: 100%;
                height: 400px;

                .presentation__img {
                    width: 100%;
                    height: 300px;
                }

            }

            .presentation__description {
                display: flex;
                width: 100%;
                height: 300px;

                .presentation__container p {
                    font-size: 1.5em;

                }

                .presentation__container h1 {
                    font-size: 2em;

                }

            }
        }



        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 300px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        

            h3 {
                display: flex;
                width: 100%;
                height: 100px;
                font-size: 3rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 1.5rem;
                width: 100%;
                height: 60px;
                justify-content: center;
                text-align: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 100px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    justify-content: center;
                }
            }


        }


        .footer {
            display: flex;
            height: 200px;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            .pie {
                height: 150px;
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 1.5em;
                    text-align: center;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;

                }

                .buttons_redes {
                    min-width: 300px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }


    }

}

@media screen and (max-width: 320px) {

    .main_index {
        width: 320px;
        overflow: hidden;


        .banner-1 {

            background-image: url(https://images.unsplash.com/photo-1534787238916-9ba6764efd4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 500px;


            .banner__text {
                display: flex;
                width: 100%;
                height: 500px;
                color: white;
                align-items: center;



                h3 {
                    display: flex;
                    width: 100%;
                    height: 500px;
                    font-size: 3em;
                    color: white;
                    align-items: center;
                    justify-content: center;
                }

            }


        }


        .section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .subtitle {
            h1 {
                text-align: center;
                font-size: 2.5em;
                color: white;

            }
        }

        .presentation {
            align-items: center;

        }


        .ruedas_1 {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            height: 600px;
            width: 100%;
            justify-items: center;
            align-items: flex-start;

            .presentation__picture {
                width: 100%;
                height: 300px;
                display: flex;
                align-items: flex-end;

                .presentation__img {
                    width: 100%;
                    height: 200px;
                }

            }

            .presentation__description {

                color: white;
                width: 100%;
                height: 300px;
                align-items: flex-start;
                text-align: center;
                display: flex;

                .presentation__container p {
                    font-size: 1.2em;


                }

                .presentation__container h1 {
                    font-size: 2em;
                    text-align: center;
                }
            }
        }


        .ruedas_2 {
            display: flex;
            height: 600px;
            width: 100%;
            justify-items: center;
            align-items: center;

            .presentation__picture {
                height: 300px;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .presentation__img {
                    width: 100%;
                    height: 200px;
                }

            }

            .presentation__description {
                color: white;
                width: 100%;
                height: 300px;
                align-items: center;
                text-align: center;
                display: flex;

                .presentation__container p {
                    font-size: 1.2rem;
                }

                .presentation__container h1 {
                    font-size: 2em;
                    text-align: center;
                }
            }
        }


        .ruedas_3 {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            height: 600px;
            width: 100%;
            justify-items: center;
            align-items: center;

            .presentation__picture {
                width: 100%;
                height: 300px;
                display: flex;
                align-items: flex-end;

                .presentation__img {
                    width: 100%;
                    height: 200px;
                }

            }

            .presentation__description {
                color: white;
                width: 100%;
                height: 300px;
                align-items: center;
                text-align: center;
                display: flex;

                .presentation__container p {
                    font-size: 1.2em;

                }

                .presentation__container h1 {
                    font-size: 2em;
                    text-align: center;
                }
            }
        }






        .section__Testimonials {
            display: flex;
            flex-direction: column;
            gap: 10rem;
            height: 600px;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: white;

        }

        .testimonials {
            background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80);
            width: 100%;
            height: 300px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;



            h3 {
                display: flex;
                width: 100%;
                height: 200px;
                font-size: 3rem;
                justify-content: center;
                align-items: center;
            }

            p {
                display: flex;
                font-size: 1.2em;
                width: 100%;
                height: 60px;
                justify-content: center;
            }
        }

        .witnees {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 100%;
            align-items: center;


            h1 {
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100%;
                color: white;
                align-items: center;
                font-size: 2em;
            }

            .attestation {
                display: flex;
                flex-direction: column;
                gap: 2em;
                width: 100%;
                height: 400px;
                align-items: center;

                p {

                    height: 80px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    font-size: 1.2em;
                    justify-content: center;
                }
            }


        }

        .footer {
            display: flex;
            height: 200px;
            align-items: flex-end;
            width: 100%;

            .pie {
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;



                p {
                    text-align: center;
                    font-size: 1em;
                    color: #fff;
                    min-height: 10vh;
                    align-items: flex-end;
                    display: flex;
                }

                .buttons_redes {
                    min-width: 320px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    height: 100px;
                }

                .buttons_redes a {
                    text-decoration: none;
                    font-size: 14px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background: #314652;
                    color: map-get($colors, amarillo);
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
                    transition: all .4s ease-in-out;
                }

                .buttons_redes a:hover {
                    transform: scale(1.2);
                }

            }

        }

    }
}