/* Helpers */

.flex-row {
    display: flex;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@mixin flex($flex, $direction, $justify, $aling, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    gap: $gap;

}


    
