/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:wght@300&display=swap");

/* Normalize */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-size: 62.5%;
    font-family: $font-primary;
    color: $secondary;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $secondary;
    display: inline-block;
}